<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="windowBean" class="v1.Window" scope="prototype" />
	
	<bean id="generatorBean" class="v1.Generator">
		<lookup-method name="create" bean="windowBean" />
	</bean>
</beans>